@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;500&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 240, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 240, 255, 1) 0%,
    rgba(177, 70, 244, 1) 44%,
    rgba(250, 0, 240, 0.7819502801120448) 65%,
    rgba(44, 14, 117, 1) 100%
  );
  background-repeat: no-repeat;
  /* height: fit-content; */
}

.my-navbar {
  width: 100%;
  margin-top: 10px;
  animation: nav-list 2s ease-out 1;
}

.menu {
  height: fit-content;
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}

li {
  list-style-type: none;
  font-size: 1.3rem;
  padding-right: 65px;
}

@keyframes nav-list {
  from {
    margin-top: -200px;
  }
  to {
    margin-top: 10px;
  }
}

a {
  color: #ffff;
  text-decoration: none;
}

a:hover {
  color: #00f0ff;
}
.button {
  background: rgb(235, 20, 132);
  background: linear-gradient(
    90deg,
    rgba(235, 20, 132, 1) 0%,
    rgba(247, 14, 238, 1) 50%,
    rgba(250, 0, 240, 1) 100%
  );
  width: 15%;
  padding: 8px;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 15px;
  font-weight: 600;
  color: #ffffff;
}

.main {
  height: 90vh;
  align-items: center;
}
.main-text {
  margin: 20vh 0 5vh 0;
  display: flex;
}

h1 {
  font-weight: 400;
  font-size: 5.3rem;
  line-height: 112px;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-left: 30px;
}

#assistant {
}

.char {
  font-size: 5.5rem;
  animation: an 2s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.typed-out {
  background: -moz-linear-gradient(
    left,
    rgb(0, 240, 255) 0%,
    rgb(0, 240, 255) 62%,
    rgba(0, 240, 255, 0.7) 68%,
    rgba(0, 240, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 240, 255, 1) 0%,
    rgba(0, 240, 255, 1) 62%,
    rgba(0, 240, 255, 0.7) 68%,
    rgba(0, 240, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 240, 255, 1) 0%,
    rgba(0, 240, 255, 1) 62%,
    rgba(0, 240, 255, 0.7) 68%,
    rgba(0, 240, 255, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0 );
  font-size: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: typing 2s forwards;
  opacity: 0;
  margin-left: -300px;
}

@keyframes typing {
  from {
    opacity: 0;
    margin-left: -300px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 67px;
  color: rgba(255, 255, 255, 0.5);
  margin: 15vh 0 0 0;
  animation: typing 2s forwards;
}
h3 {
  font-size: 2.8rem;
}

.section {
  /* display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  column-gap: 200px; */
  color: #ffffff;
  height: 100vh;
  margin-bottom: 200px;
}

.section p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 40px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.section h2 {
  margin: 0;
  color: #ffffff;
}

.section .button {
  width: 300px;
  height: 60px;
  font-size: 30px;
}

.section-left {
  justify-content: space-around;
  height: 100%;
}

.section img {
  margin: auto 0;
}

.solution-text {
  display: grid;
  grid-template-columns: 0.15fr 1.85fr;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15px 0;
}

.solution-text svg {
  margin-top: 7px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  padding: 30px;
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

/* ====================
=======================
FOR BURGER MENU
=======================
======================= */

.burger {
  display: none;
  cursor: pointer;
  left: 0;
}

.line {
  width: 28px;
  height: 5px;
  margin: 2px;
  background-color: #310f78;
  border-radius: 8px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

@media screen and (max-width: 540px) {
  .container {
    padding: 30px;
  }
  .solution-text svg {
    width: 8px !important;
  }
  h1 {
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-left: 0px;
  }
  .main h2 {
    font-size: 3rem;
    background: -moz-linear-gradient(
      left,
      rgb(0, 255, 242) 0%,
      rgb(0, 240, 255) 62%,
      rgba(0, 240, 255, 0.7) 68%,
      rgba(0, 240, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(0, 240, 255, 0.7) 0%,
      rgba(0, 240, 255, 1) 62%,
      rgba(0, 240, 255, 0.7) 68%,
      rgba(0, 240, 255, 0) 100%
    );
    background: linear-gradient(
      to right,
      rgba(0, 255, 242, 0.7) 0%,
      rgba(0, 240, 255, 0.65) 62%,
      rgba(0, 240, 255, 0.45) 68%,
      rgba(0, 240, 255, 0.2) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0 );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.8;
  }
  .typed-out {
    font-family: Roboto;
    color: #ffffff;
    font-weight: 150;
  }

  .main-text {
    display: block;
  }
  .section {
    height: 80vh;
    margin-bottom: 70px;
    text-align: center;
  }
  .section .button {
    margin: 0 auto;
  }

  .char {
    font-size: 3.5rem;
  }
  .menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 40vw;
    height: fit-content;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .menu li:first-child {
    padding-top: 13.5vh;
  }

  .menu li {
    opacity: 0;
    padding-right: 0;
    padding-bottom: 3vh;
  }
  .burger {
    background-color: #ec1487;
    z-index: 2;
    position: absolute;
    display: block;
    top: 20px;
    margin: 20px 0 0 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: burger 2s ease-out 1;
  }
  @keyframes burger {
    from {
      margin-top: -200px;
    }
    to {
      margin-top: 20px;
    }
  }
  .my-navbar .button {
    width: 40%;
    padding: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .section img {
    display: none;
  }
}

@media (max-width: 430px) {
  .typed-out {
    font-family: Roboto;
    font-style: normal;
    font-weight: 50px;
    font-size: 18px;
    line-height: 21px;
    background: none;
  }
  .main {
    align-items: flex-start;
    padding: 20px;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(6px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -7px);
}
